body{
	margin:0;
	padding: 0;
	height:100%;
	font-family: arial , verdana ;

}

nav{
	margin:0;
	padding:0;
	width: 100%;
	background-color: #fff;
	border-bottom: 2px solid #F4001E;
	overflow: hidden;
	height: 70px;
}
nav img{
	float: left;
	display: inline-block;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	float: right;
	line-height: 70px;
	text-align: center;
}

nav ul li{
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 15px 30px;
	text-decoration: none;
	margin: 0;
	color:#F4001E;
	text-align: center;
	line-height: 50px
}

nav ul li a:hover{
	background-color: #F4001E;
	color:white;

}